# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
.vs/

# Virtual Environment
.venv/

# Database
*.db
*.sqlite3

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# PyCharm
.idea/

# OS
Thumbs.db
.DS_Store

# Large files
ngrok.exe
